.parent {
  padding: 10px;
  display: flex;
  h1,h2,h3{
    font-size: 40px;
  }
  .header {
    color: #00c853;
    nav {
      border: {
        style: solid;
        width: 1px;
        color: #ccc;
      }
      background: {
        image: url("img.png");
        repeat: no-repeat;
        size:1px 2px ;
      };
    }
    a {
      color: #00c853;

      &:hover {
        color: red;
      }
    }
  }
}

